.menu-um {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 5em;
}

.logo-senac {
	width: 6em;
}

.logo-fecomercio {
	width: 8em;
}

.rsocial {
	border-radius: 8px;
}

.menu-links {
	padding: 1px;
	background-color: var(--laranja);
	flex-direction: row;
	padding: 0.1em 5em;
}

.menu-links a {
	padding: 0 0.5em;
	color: var(--branco);
	border-left: solid var(--cinza-claro) 1px;
}
/* ****** SECAO MOBILE - RESPONSIVO ****** */

@media only screen and (max-width: 500px) { 
	.menu-um {
		flex-direction: column;
		padding: 0.5em 1em;
	}

	.menu-um p, .logo-fecomercio {
		display: none;
	}
	
	.logo-senac {
		width: 6em;
	}
	
	.logo-fecomercio {
		width: 8em;
	}
	
	.rsocial {
		border-radius: 8px;
	}
	
	.menu-links {
		padding: 1px;
		padding: 0.1em 0.1em;
	}
}