/* Formatações dos Títulos e Textos */

/* importa fonte roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--laranja: #F7941D;
	--azul: #004587;
	--azul-claro: #387FB4;
	--preto: #000000;
	--cinza-claro: #463b3b77;
	--branco: #f1f1f1;
	--fonte: "Roboto", sans-serif;
}

body {
	margin: 0;
	font-size: 18px;
	font-family: var(--fonte);
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}

/* ****** SECAO SOBRE ****** */
.secao-sobre {
	padding-bottom: 2em;
	background-color: var(--laranja);
	clip-path: polygon(0% 0%, 120% 0%, 100% 94%, 0% 100%);
}

.sub-secao-sobre {
	padding: 5em;
	color: var(--branco);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	background-image: url(../imagens/escola.jpg);
	background-size: cover;
	text-align: justify;
}

h1 {
	font-size: 2.5em;
}

.sub-secao-sobre h1 {
	text-transform: uppercase;
}

/* ****** SECAO NOSSA ESCOLA ****** */

.secao-escola {
	padding: 2em 5em;	
	text-align: justify;
}

.secao-escola-fotos {
	display: flex;
	justify-content: space-between;
	padding: 1em 5em;
}

.secao-escola-info {
	text-align: justify;
	width: 15em;
}
.secao-fotos-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em;
}
.ifoto {
	width: 15em;
	
}

/* ****** SECAO RODAPE ****** */

.rodape-logo {
	background-color: var(--azul);
	display: flex;
	justify-content: center;
	padding: 2em;
}

.logo-senac-footer {
	width: 10em;
}

.rodape-direitos {
	background-color: var(--laranja);
	font-size: 16px;
	text-align: center;
	padding: 0.75em;
}
